<body>
    <div style="margin: 2%;">
      <div class="container" style="margin: 0px;padding:0px; max-width: 2500px;">
        <div class="row">
          <div class="col-md">
            <div style="text-align: left;margin-top: 50px;margin-right: 0px;padding-left: 25px;"><h3 color="blue" appMyDirective>Wolontariusze</h3></div>
          </div>
          <div class="col-md">
            <div style="text-align: right;margin-top: 50px"><button class="button" [routerLink]="['/wolo/create']">Dodaj Wolontariusza</button></div>
          </div>
        </div>
      </div>


  <div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Imie</th>
        <th scope="col">Nazwisko</th>
        <th scope="col">Telefon</th>
        <th scope="col">Wiek</th>
        <th scope="col">Zarządzanie</th>
      </tr>
    </thead>
    <tbody>
      <ng-container>
        <tr app-osoba *ngFor="let wolontariusz of wolontariusze; index as id" [wolontariusz]="wolontariusz" [id]="id"></tr>
      </ng-container>
    </tbody>
  </table>
  </div>
  </div>
  </body>
