 <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #690d4e;">
  <h3 class="navbar-brand" style="color: #ffffff; margin: 0px 20px 0px 30px ;font-size: 36px; font-family: bubble;" >Evencik</h3>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">

        <a class="nav-link active" aria-current="page" [routerLink]="['/']" style="color: #ffffff;">Organizator</a>
        <a class="nav-link active" aria-current="page" [routerLink]="['/wolo']" style="color: #ffffff;">Wolontariusz</a>
      </div>
    </div>
  </nav>
