<body>
    <div style="margin: 2%;">

    <div class="container" style="margin: 0px;padding:0px; max-width: 2500px;">
      <div class="row">
        <div class="col-md">
          <div style="text-align: left;margin-top: 50px;margin-right: 0px;padding-left: 25px;"><h3 color="deeppink" appMyDirective>Wydarzenia</h3></div>
        </div>
        <div class="col-md">
          <div style="text-align: right;margin-top: 50px"><button class="button" [routerLink]="['/event/create']">Dodaj Wydarzenie</button></div>
        </div>
      </div>
    </div>


  <div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nazwa</th>
        <th scope="col">Data</th>
        <th scope="col">Zarządzanie</th>
      </tr>
    </thead>
    <tbody>
      <ng-container>
        <tr app-events *ngFor="let event of events; index as id" [event]="event" [id]="id"></tr>
      </ng-container>
    </tbody>
  </table>
  </div>
  </div>
  </body>
